.home, .podcaster {
    background: #181E25;
    border-radius: 5px;
    text-align: center;
    height: auto;
    padding: 40px 100px;
}

.eps{
    display: flex;
    padding: 15px 20px;
    justify-content: space-between;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    &:hover{
        background-color: rgba($color: #fff, $alpha: 0.1);
    }
    #btn-play {
        width: 5%;
    }
    #nomor {
        width: 20%;
    }
    span {
        margin: auto 0;
        text-align: left;
        color: white;
    }
    a {
        text-align: left;
        width: 75%;
        text-decoration: none;
        p {
            color: white;
            margin: 0;
            padding-left: 10px;
        }
        &:active{
            color: red($color: #000000);
        }
    }
    .fa-play{
        font-size: 18px;
        padding-right: 10px;
        color: white;
    }
}

.play{
    p{
        color: white;
        margin: 30px 0px;
        font-weight: normal;
    }
    hr {
        width:50%;
    }
    h2 {
        margin-top: 30px;
        margin-bottom: 20px;
    }
}